[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
wtforms = "*"
sqlmodel = "*"
sqlalchemy = "*"
python-multipart = "*"
alembic = "*"
fastapi-jinja-utils = "*"

[dev-packages]

[requires]
python_version = "3.10"
