<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>deliverables.io</title>
    <meta name="description" content="Manage Deliverables and Invoicing">
    <meta name="author" content="Tyler M. Kontra">

    <link rel="stylesheet" href="/static/css/main.css?v=1.0">

</head>

<body>
    {% block body %}
    {% endblock %}
    <script src="/static/js/scripts.js"></script>
</body>

</html>