{% extends "_base.html.jinja2" %}
{% block body %}
<form class="form" method="POST">
    <label>
        Project Name
        <input type="text" name="name" required/>
    </label>
    <button type="submit">Submit</button>
</form>
{% endblock %}