{% extends "_base.html.jinja2" %}
{% block body %}
    <div>
        <h2>Project: {{ project.name }}</h2>
    </div>
    <div>
        <h3>Deliverables</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Estimate (USD)</th>
                <th>Due Date</th>
                <th>Invoiced?</th>
                <th>Paid?</th>
                <th></th>
            </thead>
        {% for deliverable in project.deliverables %}
            <tr>
                <td>
                    {{ deliverable.name }}
                </td>
                <td>
                    {{ deliverable.estimate }}
                </td>
                <td>
                    {{ deliverable.due_date or "" }}
                </td>
                <td>
                    {{ deliverable.invoiced }}
                </td>
                <td>
                    {{ deliverable.paid }}
                </td>
                <td>
                    <form action="{{ url_for('delete_deliverable', project_id=project.id, deliverable_id=deliverable.id) }}" method="POST">
                        <button type="submit" class="button danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <form action="{{ url_for('create_deliverable', project_id=project.id) }}" method="POST">
                <td>
                    <input type="text" name="name" placeholder="Name"/>
                </td>
                <td>
                    <input type="number" step="0.01" name="estimate" placeholder="Estimate (USD)"/>        
                </td>
                <td>
                    <input type="date" name="due_date" placeholder=""/>    
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <button class="button primary" type="submit">Add Deliverable</button>
                </td>
                </form>
            </tr>
        </table>
    </div>
    <div>
        <h3>Invoices</h3>
        <table>
        {% for invoice in project.invoices %}
            <tr>
                <td>
                    <a href="{{ url_for('project_detail', id=project.id) }}">{{ project.name }}</a>
                </td>
                <td>
                    <form action="{{ url_for('project_delete', id=project.id) }}" method="POST">
                        <button class="button danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}