{% extends "_base.html.jinja2" %}
{% block body %}
    <div>
        <h2>Project: {{ project.name }}</h2>
    </div>
    <div class="w-25 py-2">
        <h5>Bill To</h5>
        <div class="row">
            <form action="{{ url_for('update_contact', project_id=project.id) }}" method="POST">
            <div class="col">
                <input class="form-control" type="text" name="company_name" placeholder="Company Name" value="{{ project.bill_to.company_name }}"/>
            </div>
            <div class="col">
                <input class="form-control" type="text" name="contact_name"  placeholder="Contact Name" value="{{ project.bill_to.contact_name }}"/>
            </div>
            <div class="col">
                <input class="form-control" type="text" name="contact_email" placeholder="Contact Email" value="{{ project.bill_to.contact_email }}"/>
            </div>
            <div class="col mt-2">
                <button type="submit" class="btn btn-secondary">Save Contact</button>
            </div>
            </form>
        </div>
    </div>
    <hr/>
    <div class="py-2">
        <h3>Deliverables</h3>
        <table class='table table-borderless'>
            <thead>
                <th>Name</th>
                <th>Estimate (USD)</th>
                <th>Due Date</th>
                <th>Invoiced?</th>
                <th>Paid?</th>
                <th></th>
            </thead>
        {% for deliverable in project.deliverables %}
            <tr>
                <td>
                    {{ deliverable.name }}
                </td>
                <td>
                    {{ deliverable.value }}
                </td>
                <td>
                    {{ deliverable.due_date or "" }}
                </td>
                <td>
                    {{  ("<span>&#10003;</span>" if deliverable.invoiced else "x")|safe }}
                </td>
                <td>
                    {{ ("<span>&#10003;</span>" if deliverable.paid else "")|safe }}
                </td>
                <td>
                    {% if not deliverable.invoiced %}
                    <form action="{{ url_for('delete_deliverable', project_id=project.id, deliverable_id=deliverable.id) }}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
            <tr>
                <form action="{{ url_for('create_deliverable', project_id=project.id) }}" method="POST">
                <td>
                    <input type="text" class="form-control" name="name" placeholder="Name"/>
                </td>
                <td>
                    <input type="number" step="0.01" class="form-control" name="estimate" placeholder="Estimate (USD)"/>        
                </td>
                <td>
                    <input type="date" class="form-control" name="due_date" placeholder=""/>    
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <button class="btn btn-primary" type="submit">Add Deliverable</button>
                </td>
                </form>
            </tr>
        </table>
    </div>
    <hr/>
    <div class="py-2">
        <h3>Invoices</h3>
        <table class="table table-borderless">
        {% for invoice in project.invoices %}
            <tr>
                <td class="h3">
                    <strong>{{ invoice.name }}</strong>
                </td>
                <td>
                    <a href="{{ url_for('render_invoice', project_id=project.id, invoice_id=invoice.id) }}">
                        <button class="btn btn-secondary" type="button">Render</button>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="">
                    <form action="{{ url_for('invoice_sent', project_id=project.id, invoice_id=invoice.id) }}" method="POST">
                        <label class="label" for="sent">Sent On</label>
                        <input class="form-control" type="date" name="sent" value="{{ invoice.sent }}"/>
                        <button class="btn btn-secondary" type="submit">Update</button>
                    </form>
                </td>
                <td class="">
                    <form action="{{ url_for('invoice_paid', project_id=project.id, invoice_id=invoice.id) }}" method="POST">
                        <label class="label" for="sent">Paid On</label>
                        <input class="form-control" type="date" name="paid" value="{{ invoice.paid }}"/>
                        <button class="btn btn-secondary" type="submit">Update</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="lead">Line Items</td>
            </tr>
            {% for line_item in invoice.line_items %}
            <tr>
                <td>{{ line_item.deliverable.name }}</td>
                <td>{{ line_item.value }}</td>
                <td>
                    <form action="{{ url_for('remove_line_item', project_id=project.id, invoice_id=invoice.id, line_item_id=line_item.id) }}" method="POST">
                        <button class="btn btn-warning" type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <form action="{{ url_for('add_line_item', project_id=project.id, invoice_id=invoice.id) }}" method="POST">
                <td>
                    <select name="deliverable_id" class="form-select">
                        {% for deliverable in available_deliverables %}
                        <option value="{{deliverable.id}}">{{deliverable.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button class="btn btn-primary" type="submit">Add Line Item</button>
                </td>
                </form>
            </tr>
            <tr>
                <td class="lead">Credits</td>
            </tr>
            {% for credit in invoice.credits %}
            <tr>
                <td>{{ credit.reason }}</td>
                <td>{{ credit.value }}</td>
                <td>
                    <form action="{{ url_for('remove_credit', project_id=project.id, invoice_id=invoice.id, credit_id=credit.id) }}" method="POST">
                        <button class="btn btn-warning" type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <form action="{{ url_for('add_credit', project_id=project.id, invoice_id=invoice.id) }}" method="POST">
                <td>
                   <input type="text" class="form-control" name="reason" placeholder="Reason" required/>
                </td>
                <td>
                   <input type="number" step="0.01" class="form-control" name="amount" placeholder="Amount" required/>
                </td>
                <td>
                    <button class="btn btn-primary" type="submit">Add Credit</button>
                </td>
                </form>
            </tr>
            <tr>
                <td class="lead">Reimbursements</td>
            </tr>
            {% for reimbursement in invoice.reimbursements %}
            <tr>
                <td>{{ reimbursement.reason }}</td>
                <td>{{ reimbursement.value }}</td>
                <td>
                    <form action="{{ url_for('remove_reimbursement', project_id=project.id, invoice_id=invoice.id, reimbursement_id=reimbursement.id) }}" method="POST">
                        <button class="btn btn-warning" type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <form action="{{ url_for('add_reimbursement', project_id=project.id, invoice_id=invoice.id) }}" method="POST">
                <td>
                   <input type="text" class="form-control" name="reason" placeholder="Reason" required/>
                </td>
                <td>
                   <input type="number" step="0.01" class="form-control" name="amount" placeholder="Amount" required/>
                </td>
                <td>
                    <button class="btn btn-primary" type="submit">Add Reimbursement</button>
                </td>
                </form>
            </tr>
        {% endfor %}
        </table>
        <div class="w-25">
            <form class="form row" action="{{ url_for('create_invoice', project_id=project.id) }}" method="POST">
                <input type="text" class="form-control mb-1" name="name" placeholder="Invoice Name" required/>
                <button class="btn btn-primary" type="submit">Create Invoice</button>
            </form>
        </div>
    </div>
    <hr/>
{% endblock %}